:root::-webkit-scrollbar {
  display: none;
}

.Toastify__toast-body {
  font-family: "Pokemon GB";
  text-align: center;
  font-size: 12px;
  color: #000000;
}

.Toastify__toast--success,
.Toastify__toast--error {
  border-image: url(https://luttje.github.io/css-pokemon-gameboy/styles/images/frame-hd.png)
    42 round;
  border-width: 15px;
  border-style: solid;
}

body {
  margin: 0 auto;
  background-color: #a52b2b;
  font-family: "Pokemon GB";
}

.p-login {
  margin-top: 50px;
  color: #000000;
  font-size: 11px;
  font-weight: bold;
  text-align: center;
}

.p-link {
  color: aliceblue;
  text-decoration: none;
  font-size: 11px;
  text-align: center;
  text-shadow:
    3px 0 #0000009a,
    -2px 0 #0000009a,
    0 2px #0000009a,
    0 -2px #0000009a,
    2px 2px #0000009a,
    -1px -1px #0000009a,
    2px -1px #0000009a,
    -1px 1px #0000009a;
}

button {
  font-family: "Pokemon GB";
  font-size: 10px;
  font-weight: 900;
  text-align: center;
  padding: 10px;
}
