.flex-container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

button {
  width: 100px;
  border: 2px solid rgb(10, 7, 7);
  border-radius: 5px;
  background-color: #e2e2e2;
}

button:hover {
  background-color: #ee1a1a;
  color: white;
}

.home-title {
  font-size: 35px;
  color: white;
  text-shadow:
    3px 0 #0000009a,
    -2px 0 #0000009a,
    0 3px #0000009a,
    0 -2px #0000009a,
    3px 3px #0000009a,
    -1px -1px #0000009a,
    3px -1px #0000009a,
    -1px 1px #0000009a;
  z-index: 100000;
  margin: 100px 0 0px 0;
}

.catchphrase {
  margin-top: 10px;
  border: 2px solid;
  z-index: 2;
  background-color: #fdfdfd;

  padding: 5px;
}

.home-logo {
  z-index: 1;
  width: 150px;
  animation: App-logo-spin infinite 20s linear;
  margin-top: -130px;
  pointer-events: none;
}

.home-header {
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  animation-duration: 0.7s;
  animation-name: animate-fade;
  animation-delay: 0.3s;
  animation-fill-mode: backwards;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
